@import "variables"

.card-details
  display: grid
  grid-template-rows: 14% 1fr 2fr 2fr 2fr
  overflow: hidden

  &__header
    display: grid
    align-items: center
    padding: $card-details-item-padding

    *
      grid-row: 1

    &__mobile-menu
      display: none
      cursor: pointer

      @media (max-width: $mobile-max)
        display: block

    &__wrapper
      display: flex
      align-items: center

      &__rect
        @include flex-center
        width: 50px
        height: 50px
        background-color: $nav-highlight-color
        margin-right: 25px

        div
          width: 50%
          height: 40%
          background-color: $dark-green
          border-radius: 2px

        @media (max-width: $mobile-max)
          display: none

    &__manage
      display: flex
      align-items: center
      justify-content: space-evenly
      width: 150px
      height: 45px
      border: 1px solid black
      font-size: 16px
      font-weight: 600
      cursor: pointer
      justify-self: end

      @media (max-width: $mobile-max)
        &
          width: 60px

        span
          display: none

  &__info
    display: grid
    grid-template-columns: 2fr 1fr 1fr 1fr
    padding: $card-details-item-padding

    &__item
      @include flex-center
      flex-direction: column
      border-left: 1px solid $card-details-item-border-grey
      border-bottom: 1px solid $card-details-item-border-grey

      &:first-child
        align-items: flex-start
        border-left: none

      &__name
        color: $card-details-item-name-grey
        text-transform: uppercase
        font-size: 12px
        font-weight: 600

      &__value
        font-weight: 600

      @media (min-width: $tablet-min) and (max-width: $tablet-max), (max-width: $mobile-max)
        &:last-child
          display: none

      @media (max-width: $mobile-max)
        border: none

    @media (min-width: $tablet-min) and (max-width: $tablet-max)
      &
        grid-template-columns: 2fr 1fr 1fr

    @media (max-width: $mobile-max)
      &
        grid-template-columns: 1fr
        grid-template-rows: 1fr 1fr 1fr

      *
        align-items: start

  &__limits
    padding: $card-details-item-padding
    display: grid
    grid-template-rows: 1fr 2fr
    grid-template-columns: 3fr 2fr
    grid-column-gap: 5%
    border-bottom: 1px solid $card-details-item-border-grey

    h3
      margin: 0

    &__daily
      grid-column: 1
      display: flex
      flex-direction: column
      justify-content: space-between

      &__name
        color: $card-details-item-name-grey
        text-transform: uppercase
        font-size: 12px
        font-weight: 600

      &__progress
        position: relative
        width: 100%
        height: 16px
        background-color: $card-details-progress-grey

        &__completed
          position: absolute
          background-color: $card-details-progress-green
          top: 0
          left: 0
          height: 100%
          width: 10%

      &__numbers
        color: $card-details-progress-green
        font-size: 12px
        font-weight: 500
        display: flex
        justify-content: space-between

      @media (max-width: $mobile-max)
        grid-column: 1
        grid-row: 2

    &__estimation
      grid-column: 2
      grid-row: 1 / span 2

      &__rect
        position: relative
        background-color: $card-details-estimation-grey
        width: 80%
        height: 100%
        display: flex
        flex-direction: column
        justify-content: space-evenly
        padding: $card-details-estimation-rect-padding
        overflow: hidden

        span
          width: 70%
          font-weight: 600
          z-index: 1

          @media (min-width: $tablet-min) and (max-width: $tablet-max), (max-width: $mobile-max)
            &
              width: auto

        @media (max-width: $mobile-max)
          flex-direction: row
          justify-content: space-around
          align-items: center
          padding: 0
          width: 100%

        &__number
          font-size: 20px
          font-weight: bold
          color: $card-details-progress-green

        &__circle
          position: absolute
          border-radius: 100%
          background-color: $card-details-progress-grey
          height: 120px
          width: 120px
          right: -40px
          bottom: -40px

          .feather
            margin: 36px
            font-weight: 600
            color: $card-details-progress-green

          @media (min-width: $tablet-min) and (max-width: $tablet-max), (max-width: $mobile-max)
            display: none

      @media (max-width: $mobile-max)
        grid-column: 1
        grid-row: 3

    @media (max-width: $mobile-max)
      grid-template-columns: 1fr
      grid-template-rows: 1fr 1fr 1fr
      grid-row-gap: 15px

  &__detail
    padding: $card-details-item-padding

    &__list
      list-style-type: none
      padding: 0

      &__item
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        font-size: 14px
        font-weight: 600
        margin: $card-details-item-list-item-margin

        *
          @include flex-center
          justify-self: baseline

        &__user
          img
            @include user-avatar

          @media (min-width: $tablet-min) and (max-width: $tablet-max), (max-width: $mobile-max)
            &__name
              display: none

        &__description
          color: $card-details-item-name-grey
          font-weight: 600

          &__label
            background-color: $card-details-item-label-grey
            padding: $card-details-item-label-padding
            margin: $card-details-item-label-margin
            border-radius: 6px
            color: black
            font-weight: 500
            font-size: 12px

          @media (min-width: $tablet-min) and (max-width: $tablet-max), (max-width: $mobile-max)
            &--hidden-on-tablet
              visibility: hidden

        &__price
          justify-self: flex-end

          .feather
            margin-left: 25px

          &--bolder
            font-weight: bolder

  @media (max-width: $mobile-max)
    overflow: auto
