@import "variables"

.cards-list
  background-color: $cards-list-grey
  display: grid
  grid-template-rows: 14% 1fr

  &
    @media (min-width: $tablet-min) and (max-width: $tablet-max), (max-width: $mobile-max)
      display: none

  &__header
    padding: $cards-list-item-padding
    display: grid
    align-items: center
    border-bottom: 1px solid $card-border-color

    *
      grid-row: 1

    &__actions
      .feather
        margin: 0 6px
        cursor: pointer

  &__list
    list-style-type: none
    margin: 0
    padding: 0
    background-color: $cards-list-darker-grey

    &__item
      $self: &
      background-color: $cards-list-grey
      padding: $cards-list-item-padding
      position: relative
      height: 11vh
      min-height: 80px
      border-top: 1px solid $card-border-color
      border-bottom: 1px solid $card-border-color

      &--active
        background-color: $card-active-background
        color: white

      &--disabled
          margin-top: 20px

      &__info
        display: flex
        flex-direction: column

        &__name
          font-size: 18px
          font-weight: 600

          #{ $self }--disabled &
            color: lighten(black, 50)

        &__status
          font-size: 12px
          font-weight: 600
          text-transform: uppercase
          margin: 5px 0

          #{ $self }--disabled &
            color: lighten(black, 50)

        &__access
          font-size: 14px
          font-weight: 500
          display: flex
          align-items: baseline
          color: $card-access-grey
          margin: 5px 0

          #{ $self }--active &
            color: $card-active-access-grey

          span
            background-color: $card-access-background-grey
            padding: 1px 5px
            font-size: 11px
            font-weight: bold
            border-radius: 4px
            margin: 0 7px

            #{ $self }--active &
              background-color: $card-active-access-background
              color: white

          &::before
            content: 'Issued access'

      &__card
        background-color: $card-white
        width: 20%
        height: 75%
        position: absolute
        right: 0
        bottom: 0
        display: flex
        justify-content: center
        @include corner-border(tl, 1px, $card-border-color, 14px)

        #{ $self }--active &
          width: 25%
          @include card-active-card-background

        #{ $self }--disabled &
          color: lighten(black, 50)

        &__stripe
          position: absolute
          top: 15%
          width: 100%
          height: 20%
          background-color: $card-stripe-grey

          #{ $self }--active &
            @include card-active-stripe-background

        span
          z-index: 1
          margin-top: 45%
          font-size: 13px
          font-weight: 600
