@import "variables"

.side-nav
  background-color: $black
  padding: $nav-padding
  display: grid
  grid-template-rows: 14% 4fr 1fr 1fr
  overflow: hidden

  &__logo
    color: $nav-darker-grey
    display: flex
    align-items: center
    font-size: 20px
    font-weight: 500
    padding: $nav-logo-padding

    @media (min-width: $tablet-min) and (max-width: $tablet-max)
      span
        display: none

    .feather
      margin-right: 10px

    @media (min-width: $tablet-min) and (max-width: $tablet-max)
      &
        padding: 0
        justify-content: center

      .feather
        margin: 0

  &__main-list
    $self: &
    list-style-type: none
    padding: 0
    margin: 0

    &__item
      height: 63px
      color: white
      display: flex
      align-items: center
      transition: all .3s
      padding: $nav-list-item-padding
      cursor: pointer

      .feather
        margin-right: 15px

      &:not(&--active):hover
        color: $nav-highlight-color

      &--grey
        color: $nav-grey

      &--active
        background-color: $nav-highlight-color
        color: black

      @media (min-width: $tablet-min) and (max-width: $tablet-max)
        &
          padding: 0
          justify-content: center

        .feather
          margin: 0

        span
          display: none

  &__user
    position: relative
    padding: $nav-logo-padding
    display: flex
    height: 55px
    align-self: end

    &::before
      content: ''
      position: absolute
      top: -15px
      width: calc(100% - 2 * 25px)
      left: 25px
      height: 1px
      background-color: $nav-mail-color

    img
      @include user-avatar

    @media (min-width: $tablet-min) and (max-width: $tablet-max)
      &
        padding: 0
        justify-content: center

      img
        margin: 0

    &__data
      display: flex
      flex-direction: column
      justify-content: space-evenly

      &__name
        color: white

      &__mail
        color: $nav-mail-color

      @media (min-width: $tablet-min) and (max-width: $tablet-max)
        span
          display: none

  @media (max-width: $mobile-max)
    width: 0
    padding: 0
    display: none
