$black: #0A150F
$dark-grey: #1F332B
$dark-green: #335748
$disabled-header-color: #69716C
$disabled-text-color: #C8CCC9
$disabled-number-color: #9CA19E
$nav-grey: #B5B9B7
$nav-darker-grey: #848A87
$nav-mail-color: #4F5853
$nav-highlight-color: #97F675

$cards-list-grey: #F8FAF7
$cards-list-darker-grey: #F1F3F0
$card-border-color: #EDEFEC
$card-white: #FCFDFC
$card-stripe-grey: #F3F3F3
$card-access-background-grey: #EBEEE9
$card-access-grey: #3A433D
$card-active-background: #1F332B
$card-active-access-background: #2F433B
$card-active-access-grey: #D2D6D5

$card-details-progress-green: #335748
$card-details-progress-grey: #EEF1ED
$card-details-estimation-grey: #F8FAF7
$card-details-item-name-grey: #9DA19F
$card-details-item-border-grey: #EFEFEF
$card-details-item-label-grey: #EEF1ED

@mixin card-active-card-background()
  background: rgb(49, 84, 70)
  background: linear-gradient(90deg, rgba(49, 84, 70, 1) 0%, rgba(63, 92, 80, 1) 50%, rgba(43, 73, 61, 1) 100%)

@mixin card-active-stripe-background()
  background: rgb(65, 97, 84)
  background: linear-gradient(90deg, rgba(65, 97, 84, 1) 0%, rgba(89, 113, 103, 1) 99%)

//layout
$nav-padding: 0 25px 55px 25px
$nav-logo-padding: 0 25px
$nav-user-padding: 25px
$nav-list-item-padding: 0 25px
$cards-list-item-padding: 10px 0 10px 50px
$card-details-item-padding: 10px 50px 10px 50px
$card-details-item-list-item-margin: 15px 0
$card-details-item-label-padding: 3px 8px
$card-details-item-label-margin: 0px 8px
$card-details-estimation-rect-padding: 0px 10%

@mixin corner-border($type, $width, $color, $radius)
  @if $type == tl
    border-top: $width solid $color
    border-left: $width solid $color
    border-top-left-radius: $radius
  @else if $type == tr
    border-top: $width solid $color
    border-right: $width solid $color
    border-top-right-radius: $radius
  @else if $type == bl
    border-bottom: $width solid $color
    border-left: $width solid $color
    border-bottom-left-radius: $radius
  @else if $type == br
    border-bottom: $width solid $color
    border-right: $width solid $color
    border-bottom-right-radius: $radius

@mixin flex-center()
  display: flex
  align-items: center
  justify-content: center

@mixin user-avatar()
  border-radius: 100%
  width: 55px
  height: 55px
  margin-right: 10px
  align-items: center

//breakpoints
$mobile-max: 767px
$tablet-min: 768px
$tablet-max: 1024px
$desktop: 1025px
