@import "variables"
@import "nav"
@import "cards-list"
@import "card-details"
@import "icons"

body
  font-family: 'Open Sans', sans-serif
  margin: 0

.container
  width: 100%
  height: 100%
  display: grid
  grid-template-columns: 20% 27% 1fr

  @media (min-width: $tablet-min) and (max-width: $tablet-max)
    &
      grid-template-columns: 120px 1fr

  @media (max-width: $mobile-max)
    &
      grid-template-columns: 1fr
